.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

@media (max-width: 425px) {
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gallery-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  width: 31%;
  height: 480px;
  margin-bottom: 4%;
}

@media (max-width: 425px) {
  .gallery-card {
    width: 90%;
    margin-bottom: 6%;
  }
}

.gallery-card-title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.gallery-card-btn {
  padding: .6rem 2rem;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
}

.gallery-card-btn:hover {
  background-color: #fff;
  color: #000;
  -webkit-transition: .4s;
  transition: .4s;
}

.gallery #card-0 {
  background-image: url("./img/animais.jpg");
  background-position: center;
  background-size: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .7s;
  transition: .7s;
}

.gallery #card-0:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./img/animais.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/animais.jpg");
}

.gallery #card-1 {
  background-image: url("./img/arquitetura.jpg");
  background-position: center;
  background-size: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .7s;
  transition: .7s;
}

.gallery #card-1:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./img/arquitetura.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/arquitetura.jpg");
}

.gallery #card-2 {
  background-image: url("./img/cidade.jpg");
  background-position: center;
  background-size: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .7s;
  transition: .7s;
}

.gallery #card-2:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./img/cidade.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/cidade.jpg");
}

.gallery #card-3 {
  background-image: url("./img/decoracao.jpg");
  background-position: center;
  background-size: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .7s;
  transition: .7s;
}

.gallery #card-3:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./img/decoracao.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/decoracao.jpg");
}

.gallery #card-4 {
  background-image: url("./img/esportes.jpg");
  background-position: center;
  background-size: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .7s;
  transition: .7s;
}

.gallery #card-4:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./img/esportes.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/esportes.jpg");
}

.gallery #card-5 {
  background-image: url("./img/natureza.jpg");
  background-position: center;
  background-size: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .7s;
  transition: .7s;
}

.gallery #card-5:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./img/natureza.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/natureza.jpg");
}

.gallery #card-6 {
  background-image: url("./img/paisagem.jpg");
  background-position: center;
  background-size: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .7s;
  transition: .7s;
}

.gallery #card-6:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./img/paisagem.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/paisagem.jpg");
}

.gallery #card-7 {
  background-image: url("./img/pessoas.jpg");
  background-position: center;
  background-size: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .7s;
  transition: .7s;
}

.gallery #card-7:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./img/pessoas.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/pessoas.jpg");
}

.gallery #card-8 {
  background-image: url("./img/refeicoes.jpg");
  background-position: center;
  background-size: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .7s;
  transition: .7s;
}

.gallery #card-8:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./img/refeicoes.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/refeicoes.jpg");
}
/*# sourceMappingURL=Main.css.map */